body {
  background-color: #96CEB4;
  color: #FFF1DB;
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background-color: #536493;
  overflow: hidden;
  padding: 10px 0;
}

.navbar a {
  float: left;
  display: block;
  color: #FFF1DB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #FFF1DB;
  color: #536493;
}

.content {
  padding: 20px;
  border: 1px solid #D4BDAC;
  margin: 20px;
  background-color: #536493;
}

.footer {
  margin-top: 30px;
  color: #536493;
  padding-left: 70px;
}
